<header>

  <div class="container">
    <div class="row mb-3">
      <div class="col-md-8 bg-light">
        <h1>Overview</h1>
      </div>

      <div class="col-md-4 bg-light">
        <select class="chart form-control mt-md-2">
          <option value="">This Month</option>
          <option value="" *ngFor="let item of month">{{item}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="col-lg-15">
    <div class="card-body">
      <app-data></app-data>
    </div>
  </div>


</header>