<div class="container">
    <div class="row bg-light">
        <div class="col mx-1 bg-light mt-2 mb-3">
            <h5>Pageviews</h5>
            <h6><b>540.280</b></h6>
            <b><span style="color: #42d042;" class="fs-6 mx-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-arrow-up-right" viewBox="0 0 16 16" style="margin-top: -5px;">
                        <path fill-rule="evenodd"
                            d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z" />
                    </svg>2,15%</span></b>
            <span class="fs-6">Epic: 308.20 USD</span>
        </div>

        <div class="col mx-1 bg-light border-right mt-2 mb-3">
            <img [src]="imageUrl" alt="My Image" height="90" width="180">
        </div>

        <div class="col mx-1 bg-light border mt-2 mb-3">
            <h5>Clicks</h5>
            <h6><b>70.210</b></h6>
            <b><span style="color: rgb(226, 91, 65);" class="fs-6 mx-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-arrow-down-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M14 13.5a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1h4.793L2.146 2.854a.5.5 0 1 1 .708-.708L13 12.293V7.5a.5.5 0 0 1 1 0v6z" />
                    </svg>1,10%</span></b>
            <span class="fs-6">Ctr:24.5%</span>
        </div>
        <div class="col mx-1 bg-light border mt-2 mb-3">
            <h5>Conversations</h5>
            <h6><b>42.340</b></h6>
            <b> <span style="color: #42d042;" class="fs-6 mx-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-arrow-up-right" viewBox="0 0 16 16" style="margin-top: -5px;">
                        <path fill-rule="evenodd"
                            d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z" />
                    </svg>2,15%</span></b>
            <span class="fs-6">Ctr:28.6%</span>
        </div>
        <div class="col mx-1 bg-light border mt-2 mb-3">
            <h5>Commission</h5>
            <h6><b>24.136</b></h6>
            <b> <span style="color: #42d042;" class="fs-6 mx-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-arrow-up-right" viewBox="0 0 16 16" style="margin-top: -5px;">
                        <path fill-rule="evenodd"
                            d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z" />
                    </svg>0,24%</span></b>
            <span class="fs-6">Epic:14 USD</span>
        </div>
    </div>


    <div class="row">
        <hr>

        <div class="data_Scroll  bg-light mt-2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="col-sm-13">
                                    <div class="container bg-light d-flex">
                                        <h3><b>Performance</b></h3>
                                        <ul class="nav justify-content-end container-fluid">
                                            <li class="nav-item">
                                                <a class="nav-link" aria-current="page" href="#"
                                                    style="font-weight: bolder;"
                                                    (click)="decrementClick()">Pageviews</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#" style="font-weight: bolder;"
                                                    (click)="incrementClick()">Clicks</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#"
                                                    style="font-weight: bolder;">Conversations</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#" style="font-weight: bolder;">Comission</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div id="divChart">
                                        <canvas id="myChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-4">
                        <div class="card">
                            <img class="card-img-top" src="" alt="">

                            <div class="card-body">
                                <h3><b>Networks</b></h3>
                                <ul class="nav container-fluid border-bottom border-top">
                                    <li class="nav-item">
                                        <a class="nav-link text-secondary" href="#"
                                            style="font-weight: bolder;">Type</a>
                                    </li>
                                    <li class="nav-item mx-4">
                                        <a class="nav-link text-secondary" href="#"
                                            style="font-weight: bolder;">Clicks</a>
                                    </li>
                                </ul>
                                <ul class="nav container-fluid border-bottom">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="#" style="font-weight:700;">Adservice</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="#" style="font-weight: 700;">450</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="#" style="font-weight: 700;">
                                            <a href="#" style="color: #42d042; text-decoration: none;">2,50%</a></a>
                                    </li>
                                </ul>
                                <ul class="nav container-fluid border-bottom">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="#" style="font-weight:700;">Adrecord</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark mx-1" href="#" style="font-weight: 700;">380</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="#" style="font-weight: 700;">
                                            <a href="#" style="color: #42d042; text-decoration: none;">2,35%</a></a>
                                    </li>
                                </ul>
                                <ul class="nav container-fluid border-bottom">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="#" style="font-weight:700;">Masoffer</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark mx-2" href="#" style="font-weight: 700;">920</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="#" style="font-weight: 700;">
                                            <a href="#" style="color: #ea2727; text-decoration: none;">1,20%</a></a>
                                    </li>
                                </ul>
                                <ul class="nav container-fluid border-bottom">
                                    <li class="nav-item">
                                        <a class="nav-link text-secondary" href="#"
                                            style="font-weight:700;"><small>Wealthfront</small></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-secondary" href="#"
                                            style="font-weight: 700;"><small>930</small></a>
                                    </li>
                                    <li class="nav-item mt-1">
                                        <button type="button" class="btn btn-outline-secondary btn-sm"
                                            style="scale:0.6">Connect</button>
                                    </li>
                                </ul>
                                <ul class="nav container-fluid border-bottom">
                                    <li class="nav-item">
                                        <a class="nav-link text-secondary mx-3" href="#"
                                            style="font-weight:700;"><small>Grovia</small></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-secondary mx-1" href="#"
                                            style="font-weight: 700;"><small>465</small></a>
                                    </li>
                                    <li class="nav-item mt-1">
                                        <button type="button" class="btn btn-outline-secondary btn-sm"
                                            style="scale:0.6">Connect</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>