<div class="timeline-panel" data-aos="flip-up">
    <div class="row">
        <div class="col mx-1 bg-light mt-2 mb-3">
            <h5>Pageviews</h5>
            <h6><b>540.280</b></h6>
            <b><span style="color: #42d042;" class="fs-6 mx-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-arrow-up-right" viewBox="0 0 16 16" style="margin-top: -5px;">
                        <path fill-rule="evenodd"
                            d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z" />
                    </svg>2,15%</span></b>
            <span class="fs-6">Epic: 308.20 USD</span>
        </div>

        <div class="col mx-1 bg-light border-right mt-2 mb-3">
            <img [src]="imageUrl" alt="My Image" height="90" width="180">
        </div>

        <div class="col mx-1 bg-light border mt-2 mb-3">
            <h5>Clicks</h5>
            <h6><b>{{pageClick}}</b></h6>
            <b><span style="color: rgb(226, 91, 65);" class="fs-6 mx-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-arrow-down-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M14 13.5a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1h4.793L2.146 2.854a.5.5 0 1 1 .708-.708L13 12.293V7.5a.5.5 0 0 1 1 0v6z" />
                    </svg>1,10%</span></b>
            <span class="fs-6">Ctr:24.5%</span>
        </div>
        <div class="col mx-1 bg-light border mt-2 mb-3">
            <h5>Conversations</h5>
            <h6><b>42.340</b></h6>
            <b> <span style="color: #42d042;" class="fs-6 mx-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-arrow-up-right" viewBox="0 0 16 16" style="margin-top: -5px;">
                        <path fill-rule="evenodd"
                            d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z" />
                    </svg>2,15%</span></b>
            <span class="fs-6">Ctr:28.6%</span>
        </div>
        <div class="col mx-1 bg-light border mt-2 mb-3">
            <h5>Commission</h5>
            <h6><b>24.136</b></h6>
            <b> <span style="color: #42d042;" class="fs-6 mx-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-arrow-up-right" viewBox="0 0 16 16" style="margin-top: -5px;">
                        <path fill-rule="evenodd"
                            d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z" />
                    </svg>0,24%</span></b>
            <span class="fs-6">Epic:14 USD</span>
        </div>
    </div>
    <div class="row">
        <hr>
        <div class="data_Scroll  bg-light mt-2">
            <div class="col-lg-15">
                <table class="table table-success table-bordered">
                    <thead>
                        <tr>
                            <th colspan="5" class="text-center bg-light">Car Data</th>
                        </tr>
                        <tr>
                            <th *ngFor="let item of JSONHeader">{{item | uppercase}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of CarData">
                            <td>{{item.brand}}</td>
                            <td>{{item.model}}</td>
                            <td>{{item.color}}</td>
                            <td>{{item.price}}</td>
                            <td>{{item.year}}</td>
                        </tr>
                    </tbody>
                </table>
                <ng-container>
                    <table class="table table-striped col-md-20">
                        <thead>
                            <tr>
                                <th colspan="5" class="text-center bg-light">Film Data</th>
                            </tr>
                            <tr>
                                <th>Title</th>
                                <th>Director</th>
                                <th>Genre</th>
                                <th>Released</th>
                                <th>Images</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of filmData">
                                <td style="padding-top: 50px;">{{item.Title}}</td>
                                <td style="padding-top: 50px;">{{item.Director}}</td>
                                <td style="padding-top: 50px;">{{item.Genre}}</td>
                                <td style="padding-top: 50px;">{{item.Released}}</td>
                                <td><img src="{{item.Images[0]}}" alt="None" width="200" height="100"></td>
                            </tr>
                        </tbody>
                    </table>
                </ng-container>
            </div>
        </div>
    </div>
</div>